{
    "extends": ["standard", "standard-react"],
    "parser": "babel-eslint",
    "rules": {
        "space-before-function-paren": ["error", {
            "anonymous": "never",
            "named": "never",
            "asyncArrow": "always"
          }],
        "no-control-regex": "off",
        "react/prop-types": 0,
        "comma-dangle": ["error", "only-multiline"],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": [4, 2, { "indentLogicalExpressions": true }],
        "react/jsx-indent-props": [4, 2],
        "react/self-closing-comp": [
            "error",
            {
                "component": false
            }
        ],
        "curly": "off"
    },
    "globals": {
        "localStorage": true,
        "fetch": true
    },
    "env": {
        "jest": true
    }
}