@font-face {
    font-family: 'Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Regular'), url('Regular.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Ligth';
    font-style: normal;
    font-weight: normal;
    src: local('Ligth'), url('Ligth.woff') format('woff');
}
    
    
@font-face {
    font-family: 'Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bold'), url('Bold.woff') format('woff');
}
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('Segoe UI.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('Segoe UI Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('Segoe UI Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('Segoe UI Bold Italic.woff') format('woff');
    }
    
    
    @font-face {font-family: "Segoe UI Light";
        src: url("5076583fa2a14cd2cf3634ff59a1138b.eot"); /* IE9*/
        src: url("5076583fa2a14cd2cf3634ff59a1138b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("5076583fa2a14cd2cf3634ff59a1138b.woff2") format("woff2"), /* chrome、firefox */
        url("5076583fa2a14cd2cf3634ff59a1138b.woff") format("woff"), /* chrome、firefox */
        url("5076583fa2a14cd2cf3634ff59a1138b.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("5076583fa2a14cd2cf3634ff59a1138b.svg#Segoe UI Light") format("svg"); /* iOS 4.1- */
      }