// MAIN 
.container {
    display: flex;
    font-family: 'Segoe UI Bold';
    font-size: $font-ml;
    padding-top: 74px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.section {
    display: flex;
    justify-content: space-between;
}

// CENTRAL IMAGE
.central-img-desktop {
    max-width: 384px;
    margin: 0 auto;
    transition: width 1s;
    
    img {
        display: block;
    }
}

.central-img-mobile {
    img {
        display: none;
    }
}

// CONTENT 
.content {
    width: 60%;
    padding: 90px 0 0 20px;
    transition: width 1s;
}

.logo {
    margin-bottom: 29px;
}

.descent-primary {
    h1 {
        font-family: "Segoe UI Light";
        font-size: $font-xl;
        line-height: 58px;
        color: $white;
        margin-bottom: 30px;
    }
}

.descent-secondary {
    h2 {
        margin-bottom: 48px;
        font-size: $font-l;
        line-height: 34px;
        font-family: 'Segoe UI Regular';
        opacity: 0.7;
        color: $white;
    }
}

@media only screen and (max-width: 768px) {
    // .section {
    //     flex: 1;
    // }

    .central-img-desktop {
        margin-bottom: 20px;
        width: 30%;
        height: 30%;
        img {
            width: 100%;
        }
    }

    .content {
        width: 100%;
        flex: 1;
        padding: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        width: 280px;
        margin: 0 auto;
    }

    .logo {
        max-width: 132px;
    }

    .central-img-desktop {
        img {
            display: none;
        }
    }

    .central-img-mobile {
        margin-bottom: 23px;
        img {
            display: block;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
        }
    }

    .descent-primary {
        h1 {
            font-size: $font-l;
            line-height: 28px;
            margin-bottom: 9px;
        }
    }

    .descent-secondary {
        h2 {
            font-size: $font-m;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.87);
            margin-bottom: 26px;
            padding: 0;
        }
    } 
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
