// GENERAL BACKGROUND

.bg-gradient {
    width: 100%;
    height: 759px;
    background-image: linear-gradient(289deg, $gr-dark, $gr-dark 46%, $gr-dark 46%, $gr-medium 52%, $gr-ligth);
    background-size: auto 776px;
    background-repeat: repeat-x;
}

@media only screen and (max-width: 768px) {
    
    .bg-gradient {
        min-height: 100vh;
        background-size: inherit;
        height: auto;
        background-image: linear-gradient(321deg, $gr-dark, $gr-dark 46%, $gr-dark 46%, $gr-medium 52%, $gr-ligth);
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        text-align: center;
    }
}
