// GENERAL BACKGROUND
.bg-gradient {
  width: 100%;
  height: 759px;
  background-image: linear-gradient(289deg, #435ab6, #435ab6 46%, #435ab6 46%, #3f51ad 52%, #142d4c);
  background-size: auto 776px;
  background-repeat-y: no-repeat;
}

// MAIN 
.container {
  display: flex;
  font-family: 'Segoe UI Bold';
  font-size: 20px;
  padding-top: 74px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
}

// CENTRAL IMAGE
.central-img-desktop {
  width: 384px;

  img {
    width: 100%;
  }
}

.central-img-mobile {
  display: none;
}

// CONTENT 
.content {
  width: 60%;
  padding: 90px 0 0 20px;
}

.logo {
  margin-bottom: 29px;
}

// NEWSLETTER
.messages {
  position: absolute;
  top: 20px;
  right: 0;
}

.descent-primary {
  font-family: "Segoe UI Light";
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  margin-bottom: 30px;
}

.descent-secondary {
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 34px;
  font-family: 'Segoe UI Regular';
  opacity: 0.7;
  color: #fff;
  padding-right: 50px;
}

.newsletter {
  display: flex;
}

.btn-submit {
  font-family: 'Segoe UI Bold';
  font-size: 14px;
  background-color: #f05638;
  border: none;
  color: #fff;
  border-radius: 0 8px 8px 0;
  padding: 18px 37px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.field {
  border: none;
  padding: 15px 0 16px 20px;
  border-radius: 8px 0 0 8px;
  display: block;
  width: 260px;
  font-family: 'Segoe UI Regular';
  font-size: 20px;
  line-height: 24px;
  color: #9fa3a7;
}


@media only screen and (max-width: 768px) {
  
  .bg-gradient {
    background-size: inherit;
    height: auto;
    background-image: linear-gradient(321deg, #435ab6, #435ab6 46%, #435ab6 46%, #3f51ad 52%, #142d4c);
  }

  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .messages {
    display: none;
  }

  .central-img-desktop {
    margin-bottom: 20px;
    width: 50%;
  }

  .content {
    width: 100%;
    padding: 0;
  }

}

@media only screen and (max-width: 480px) {

  .container {
    text-align: center;
  }

  .logo {
    max-width: 132px;
  }

  .central-img-desktop {
    display: none;
  }

  .central-img-mobile {
    display: block;
    margin-bottom: 23px;
  }

  .descent-primary {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 9px;
  }

  .descent-secondary {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 26px;
  } 

  .field {
    font-family: 'Segoe UI Regular';
    font-size: 16px;
    line-height: 24px;
  }

  .btn-submit {
    padding: 12px 22px;
  }

  .newsletter {
    display: flex;
    justify-content: center;
  }


}